*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{--bg-header:#ff6900;
      --bg-footer:#1a1a1a;
    
}
#app_header{
   background-color:var(--bg-header);
   position: sticky;top: 0;left: 0;
   z-index: 1000;
   
   
  
   
}
.container-d-flex{
    
    display: flex;
    width: 70%;
    justify-content: space-between;
    color: white;
    margin: auto;
    padding: 1rem 0;
    align-items: center;
   
}

.container-main{
    max-width: 1200px;
    margin: auto;
    margin-top: 2rem;
    
    
}
footer{
    margin-top: 2rem;
    background-color: var(--bg-footer);
    color: white;
    padding-top: 30px;
    padding-bottom: 2rem;

}

.container-footer{
    
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    
}

.info-bottom{
    font-size: 10px;margin-top: 10px;
}

.social-media{
    margin-top: 10px;
}

.first-raw{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    

}


.logo{ width: 10%;text-align: center;
    img{
        max-width: 100%;
    }
    
}



#pic_number1{
    position: relative;
    display: inline-block;
    margin-right: 20px; 
    
}



.first-raw #pic_number1 .back{
    display: none;
}

#pic_number1:hover .back{
    display: inline-block;
}
#pic_number1:hover .front{
    display: none;
}





#pic_number2{
    display: inline-block;
    margin-right: 20px;
    position: relative;
    
    
    
}


.first-raw #pic_number2 .back{
    display: none;
}

#pic_number2:hover .back{
    display: inline-block;
}
#pic_number2:hover .front{
    display: none;
}


#pic_number3{
    display: inline-block;
    position: relative;   
}
.first-raw #pic_number3 .back{
    display: none;
}

#pic_number3:hover .back{
    display: inline-block;
}
#pic_number3:hover .front{
    display: none;
}

#pic_number4{
    display: inline-block;
    position: relative; 
    margin-right: 20px;  
}

.first-raw #pic_number4 .back{
    display: none;
}

#pic_number4:hover .back{
    display: inline-block;
}
#pic_number4:hover .front{
    display: none;
}


#pic_number5{
    display: inline-block;
    position: relative; 
    margin-right: 20px;  
}

.first-raw #pic_number5 .back{
    display: none;
}

#pic_number5:hover .back{
    display: inline-block;
}
#pic_number5:hover .front{
    display: none;
}


#pic_number6{
    display: inline-block;
    position: relative;   

}

.first-raw #pic_number6 .back{
    display: none;
}

#pic_number6:hover .back{
    display: inline-block;
}
#pic_number6:hover .front{
    display: none;
}





.heart{
    position: absolute;top: 5px;left: 300px;
    color: black;
    background-color: white;
    font-size: 30px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 2px;
    
    
    
}

.discount{
    position: absolute;bottom: 80px;left: 0px;
    color: white;
    background-color: red;
    font-size: 10px;
    height: 15px;
    width: 40px;
    padding: 2px;
    text-align: center;

}

.green_banner{
    position: absolute;bottom: 80px;left: 45px;
    color: white;
    background-color: green;
    font-size: 10px;
    height: 15px;
    width: 70px;
    padding: 2px;
    text-align: center;

}
.green_banner_2{
    position: absolute;bottom: 80px;left: 0px;
    color: white;
    background-color: green;
    font-size: 10px;
    height: 15px;
    width: 70px;
    padding: 2px;
    text-align: center;

}

.description{
    color: black;
    font-size: 15px;
}

.red_price{
    color: red;
    font-size: 10px;
    
    
}

.override_price{
    text-decoration: line-through;
    color: gray;font-size: 10px;
    
}

